.Create-Convo {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    padding: 0.5rem;
    background-color: #f0f0f0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 1rem;
  }
  
  .Create-Convo-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    align-items: left;
    margin-left: 5.5%;
    font-family: Nunito;
    margin-top: 5%;
  }
  
  .Create-Convo-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .Create-Convo-input-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .Create-Convo-input-bar input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: Nunito;
  }

  .Create-Convo-input-bar img {
    height: 1.5rem;
    cursor: pointer;
  }
  
  .Create-Convo-button img {
    height: 3rem;
    cursor: pointer;
  }

  .conversation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-left: 2rem;
    margin-right: 1rem;
    align-items: center;
  }

  /* ShowAvailableChats.module.css */
.Available-Chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-left: 3%;
  margin-right: 5%;
  align-items: center;
  font-family: Nunito;
}

.Available-Chats-chat {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  margin: 0.5rem;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #afafaf;
  justify-content: flex-start;
  
}

.Available-Chats-chat-topic {
  font-family: Nunito;
  text-align: left;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;

}

.Available-Chats-chat-tags {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}


.Available-Chats-chat-avatar img {
  width: 2rem;
  height: 2rem;
}

/* Add any additional styles needed */
