.Create-Convo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #D9D9D9;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 1rem;
  }
  
  .Create-Convo-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    align-items: left;
    margin-left: 5.5%;
    font-family: Nunito;
    margin-top: 5%;
  }
  
  .Create-Convo-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .Create-Convo-input-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .Create-Convo-input-bar input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: Nunito;
  }
  
  .Create-Convo-input-bar img {
    height: 1.5rem;
    cursor: pointer;
  }
  
  .Create-Convo-button img {
    height: 3rem;
    cursor: pointer;
  }

  /* ShowAvailableChats.module.css */
.Available-Chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-left: 3%;
  margin-right: 5%;
  align-items: center;
  font-family: Nunito;
}

.Available-Chats-chat {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #000000;
}

.Available-Chats-chat-topic {
  font-family: Nunito;
  text-align: left;
}

.Available-Chats-chat-tags {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-top: 0.5rem;
}

.Available-Chats-chat-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.Available-Chats-chat-avatar img {
  width: 50px;
  height: 50px;
}

/* Add any additional styles needed */
